<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Amiri-Bold.ttf</string>
	</array>
    <key>NSAppTransportSecurity</key>

    <dict>

    <key>NSAllowsArbitraryLoads</key>

    <true/>

    <key>NSExceptionDomains</key>

    <dict>

    <key>apmex.com</key>

    <dict>

    <key>NSIncludesSubdomains</key>

    <true/>

    <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>

    <true/>

    <key>NSTemporaryExceptionMinimumTLSVersion</key>

    <string>TLSv1.1</string>

    </dict>

    <key>ebay.com</key>

    <dict>

    <key>NSIncludesSubdomains</key>

    <true/>

    <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>

    <true/>

    <key>NSTemporaryExceptionMinimumTLSVersion</key>

    <string>TLSv1.1</string>

    </dict>

    <key>saintsoftware.blogspot.com</key>

    <dict>

    <key>NSIncludesSubdomains</key>

    <true/>

    <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>

    <true/>

    <key>NSTemporaryExceptionMinimumTLSVersion</key>

    <string>TLSv1.1</string>

    </dict>

    </dict>

    </dict>
</dict>
</plist>
